{% extends "base.html" %}
{% block main_content %}
<center>
<h2>Please log in.</h2>
<form action="" method="post">{% csrf_token %}
    <div class="row">
        <div class="error-container">
            {{ form.non_field_errors}}
        </div>
        <div {% if form.username.errors %}class="error"{% endif %}>
        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.username.errors }}
        </div>

        <div {% if form.password.errors %}class="error"{% endif %}>
        {{ form.password.label_tag }}
        {{ form.password }}
        {{ form.password.errors }}
        </div>
    </div>

    <div>
        <input type="submit" class="button-primary" value="Log in">
        <input type="hidden" name="next" value="{{ next }}" />
    </div>
</form>
</center>
{% endblock %}
