html {
    overflow-y: scroll;
}

.container {
    max-width: 1360px;
}

body {
    font-size: 2em;
    font-family: "Linux Libertine O", Palatino, serif;
}

.expenses {
    font-family: "Droid Serif";
    font-style: italic;
}

footer {
    text-align: right;
    color: #bbb;
}

select {
    height: 100%;
}

textarea {
    height: 100%
}

/* Navbar */
nav {
    width:100%;
    text-align: justify;
}

nav ul {
    margin: 0 auto;
    list-style: none;
    border-width: 0px;
    border-color: #bbb;
    border-style: solid;
}

nav > ul {
    max-width: 1360px;
    border-bottom-width: 1px;
}

nav ul > li {
    margin: 10px;
}

nav > ul > li {
    display: inline-block;
    position: relative;
}

nav > ul input[type=checkbox] {
    display: none;
}

nav input[type=checkbox] + label::after {
    content: " +";
    font-size: 2.5rem;
}

nav > ul ul {
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: -1;
    visibility: hidden;
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 4px;
}

nav > ul > li:hover ul, nav input:checked + label + ul {
    z-index: 1;
    visibility: visible;
}

nav input:checked + label + ul {
    border-color: #888;
}

nav input:checked + label::after {
    content: " –";
    font-size: 2.5rem;
}

nav a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 2.5rem;
}

nav a:hover {
    text-decoration: underline;
}

/* Misc */
.h-centered {
    margin-left: auto;
    margin-right: auto;
}

table tbody tr:hover{
    background: rgba(0,0,0,0.1)
}

table caption {
    font-size: 3.5rem;
}

.errorlist {
    color: #f00;
}

.error-container ul.errorlist {
    border: 1px solid #f00;
    border-radius: 4px;
}

.error input {
    border-color: #f00;
}

label.required::after {
    content:'*'
}
