{% extends "base.html" %}

{% block context_header %}
<!-- <link rel="stylesheet" href="/static/home.css"> -->
{% endblock %}
{% block main_content %}
<form action="" method="post">
    <div class="row">
        <div class="four columns">
         {{ form.title.label_tag}}
         {{ form.title }}
        </div>
        <div class="four columns">
         {{ form.amount.label_tag}}
         {{ form.amount }}
        </div>
        <div class="four columns">
         {{ form.category.label_tag }}
         {{ form.category }}
        </div>
    </div>
    <div class="row">
        <div class="six columns">
         {{ form.buyer.label_tag}}
         {{ form.buyer }}
        </div>
        <div class="six columns">
         {{ form.participants.label_tag}}
         {{ form.participants }}
        </div>
    </div>
         {{ form.description.label_tag}}
         {{ form.description }}
    {% csrf_token %}
    <input class="button-primary" type=submit value="Submit" />
</form>

{% endblock %}
