{% extends "base.html" %}

{% block context_header %}
<link rel="stylesheet" href="/static/specific/display_bill.css">
{% endblock %}

{% block main_content %}
<h1>{{ bill.title }}{% if not bill.refund %}: €{{ bill.amount }}{% endif %}</h1>
<h3>Created by {{ bill.creator }}, on {{ bill.date }}</h3>

<div class="row">
    <div class="two columns">
    <h5>Paid by:</h5>
    </div>
    <div class="four columns">
    <ul>
        {% for buyer_atom in bill.list_of_positive_atoms %}
        <li>{{ buyer_atom.user }} ({{ buyer_atom.localised_amount }})</li>
        {% endfor %}
    </ul>
    </div>

    <div class="two columns">
        <h5>For:</h5>
    </div>
    <div class="four columns">
        <ul>
        {% for participant_atom in bill.list_of_negative_atoms %}
        <li>{{ participant_atom.user }} ({{ participant_atom.localised_amount }})</li>
        {% endfor %}
</ul>
    </div>
</div>

{% if bill.description %}<h5>Description:</h5><p>{{ bill.description }}</p>{% endif %}

{% endblock %}
