{% extends "base.html" %}

{% block context_header %}
{% endblock %}
{% block main_content %}

<table class="u-full-width">
    <caption>Last transactions:</caption>
    <thead>
    <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Paid by</th>
        <th>For</th>
        <th>Created by</th>
    </tr>
    </thead>
    <tbody>
{% for bill in bills %}
    <tr>
        <td>{{ bill.date }}</td>
        <td><a href="{% url 'display_bill' bill.pk %}">{{ bill.title }}</a></td>
        <td>{{ bill.amount }}</td>
        <td>{% for buyer in bill.list_of_buyers %}{{ buyer.user }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
        <td>{% for participant in bill.list_of_participants %}{{ participant.user }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
        <td>{{ bill.creator }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% if has_previous %}
    <a href="{% url 'history' id|add:"-1" %}"><button>Previous</button></a>
{% endif %}
{% if has_next %}
    <a href="{% url 'history' id|add:"+1" %}"><button>Next</button></a>
{% endif %}
{% endblock %}
