{% extends "base.html" %}

{% block context_header %}
<link rel="stylesheet" href="/static/home.css">
{% endblock %}
{% block main_content %}

<p class="welcome-text">Welcome {{ user.extendeduser.nickname }}.</p>

<p class="balance-text">You have <span class="color-{{ status }}">€{{ balance }}</span> in your account.</p>

<a href="{% url 'normal_bill_form' %}">Add a new bill</a>

<span class="table-title">Last transactions:</span>
<table>
    <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Paid by</th>
        <th>For</th>
        <th>Created by</th>
    <tr>
{% for bill in last_bills %}
    <tr>
        <td>{{ bill.date }}</td>
        <td>{{ bill.title }}</td>
        <td>{{ bill.transfers.0.sender }}</td>
        <td>{% for transfer in bill.transfers.all %}{{ transfer.sender }}{% if not forloop.last %},{% endif %}{% endfor %}</td>
        <td>{{ bill.creator }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}
