{% extends "base.html" %}

{% block context_header %}
{% endblock %}
{% block main_content %}

<h1>Welcome {{ user.extendeduser.nickname }}.</h1>

<h2>You have <span class="color-{{ status }}">€{{ balance }}</span> on your account.</h2>

<div class="row">
    <div class="three columns">
        <a href="{% url 'normal_bill_form' %}"><button>Create a new bill</button></a>
    </div>
    <div class="three columns">
        <a href="{% url 'balances' %}"><button>See accounts</button></a>
    </div>
    <div class="three columns">
        <a href="{% url 'repayment_form' %}"><button>Declare a repayment</button></a>
    </div>
</div>
<table class="u-full-width">
    <caption>Last transactions:</caption>
    <thead>
    <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Paid by</th>
        <th>For</th>
        <th>Created by</th>
    </tr>
    </thead>
    <tbody>
{% for bill in last_bills %}
    <tr>
        <td>{{ bill.date }}</td>
        <td><a href="{% url 'display_bill' bill.pk %}">{{ bill.title }}</a></td>
        <td>{% for buyer in bill.list_of_buyers %}{{ buyer.user }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
        <td>{% for receiver in bill.list_of_receivers %}{{ receiver.user }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
        <td>{{ bill.creator }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}
