{% extends "base.html" %}

{% block context_header %}
<link rel="stylesheet" href="/static/home.css">
{% endblock %}
{% block main_content %}

<p class="welcome-text">Welcome {{ user.extendeduser.nickname }}.</p>

<p class="balance-text">You have <span class="color-{{ status }}">€{{ balance }}</span> in your account.</p>

<a href="{% url 'normal_bill_form' %}">New bill</a>
<a href="{% url 'balances' %}">Accounts</a>
<table class="minimalist-table">
    <caption>Last transactions:</caption>
    <thead>
    <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Paid by</th>
        <th>For</th>
        <th>Created by</th>
    </tr>
    </thead>
    <tbody>
{% for bill in last_bills %}
    <tr>
        <td>{{ bill.date }}</td>
        <td>{{ bill.title }}</td>
        <td>{{ bill.transfers.all.0.sender }}</td>
        <td>{% for transfer in bill.transfers.all %}{{ transfer.receiver }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
        <td>{{ bill.creator }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}
