{% extends "base.html" %}
{% load i18n %}

{% block context_header %}
{% endblock %}
{% block main_content %}
<form action="" method="post">
    <div class="error-container">
        {{ form.non_field_errors }}
    </div>
    <div class="row">
        <div class="four columns{% if form.amount.errors %} error{% endif %}">
         {{ form.amount.label_tag}}
         {{ form.amount }}
         {{ form.amount.errors }}
        </div>
        <div class="four columns{% if form.amount.errors %} error{% endif %}">
         {{ form.buyer.label_tag}}
         {{ form.buyer }}
         {{ form.buyer.errors }}
        </div>
        <div class="four columns{% if form.amount.errors %} error{% endif %}">
         {{ form.participant.label_tag}}
         {{ form.participant }}
         {{ form.participant.errors }}
        </div>
    </div>
    {% csrf_token %}
    <input class="button-primary" type=submit value="{% trans "Submit" %}" />
</form>

{% endblock %}
