{% extends "base.html" %}

{% block context_header %}
{% endblock %}
{% block main_content %}
<form action="" method="post">
    <div class="row">
        <div class="four columns">
         {{ form.amount.label_tag}}
         {{ form.amount }}
         {{ form.amount.error }}
        </div>
        <div class="four columns">
         {{ form.buyer.label_tag}}
         {{ form.buyer }}
         {{ form.buyer.error }}
        </div>
        <div class="four columns">
         {{ form.participant.label_tag}}
         {{ form.participant }}
         {{ form.participant.error }}
        </div>
    </div>
    {% csrf_token %}
    <input class="button-primary" type=submit value="Submit" />
</form>

{% endblock %}
