{% extends "base.html" %}
{% load i18n %}

{% block context_header %}
{% endblock %}

{% block main_content %}
<p>{% blocktrans with step1=wizard.steps.step1 count=wizard.steps.count %}
    Bill creation: step {{ step1 }} of {{ count }}
{% endblocktrans %}</p>
<form action="" method="post">{% csrf_token %}
{{ wizard.management_form }}
    {% block form_content %}
    {% endblock %}
{% if wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "First" %}</button>
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "Previous" %}</button>
{% endif %}
<input class="button-primary" type="submit" value="{% trans "Submit" %}"/>
</form>

{% endblock %}
