{% extends "bill_wizard/base.html" %}
{% load i18n %}

{% block form_content %}
  <h1>{% trans "Please confirm the following information" %}</h1>
  <h2>{% trans "Buyers" %}</h2>
    <ul>
      <li>{% blocktrans with user=buyer.user amount=buyer.amount%}{{ user }} has paid {{ amount }}{% endblocktrans %}</li>
    </ul>
  <h2>{% trans "Participants" %}</h2>
  <ul>
    {% for participant in participants %}
      <li>{% blocktrans with user=participant.user amount=participant.amount %}{{ user }} takes part for {{ amount }}{% endblocktrans %}</li>
    {% endfor %}
  </ul>
{% endblock %}
