{% extends "bill_wizard/base.html" %}

{% block form_content %}
  <h1>{% trans "Please confirm the following information" %}</h1>
  <h2>{% trans "Buyers" %}</h2>
    <ul>
      <li>{% blocktrans %}{{ buyer.user }} has paid {{ buyer.amount }}{% endblocktrans %}</li>
    </ul>
  <h2>{% trans "Participants" %}</h2>
  <ul>
    {% for participant in participants %}
      <li>{% blocktrans %}{{ participant.user }} takes part for {{ participant.amount}}{% endblocktrans %}</li>
    {% endfor %}
  </ul>
{% endblock %}
