{% extends "bill_wizard/base.html" %}
{% load i18n %}

{% block form_content %}
{{ form.management_form }}
<div class="error-container">
    {{ form.non_form_errors }}
</div>

<h2>{% blocktrans %}Choose your split for {{ total_amount }}{% endblocktrans %}</h2>
<div class="row">
{% for sub_form in form.forms %}
    <div class="offset-by-one-third columns">
        <label>{% blocktrans %}Amount for {{ sub_form.user }}:{% endblocktrans %}</label>
        {{ sub_form.amount }}
    </div>
{% endfor %}
</div>

{% endblock %}
